<div class="edit-container">
    <h1 class='dash-header'>Account Information</h1>
    <hr>
    <div class="account-info">
        <p>First Name: <span id="firstName">{{user.first_name}}</span></p>
        <p>Last Name: <span id="lastName">{{user.last_name}}</span></p>
        <p>Email Address: <span id="account-email"></span>{{user.email}}</p>
        <p>Postal Address: <span id="address">{{user.address}}</span></p>
            <button type="submit " class="account-edit-button">Edit</button>
    </div>
    <div class="edit-info">
        <form >
            <div>
                <label>First Name:</label><br>
                <input class='account-input' name='first_name'id= "edit-firstName" value="{{user.first_name}}">
            </div>
            <div>
                <label>Last Name:</label><br>
                <input class='account-input' name='last_name' id= "edit-lastName" value="{{user.last_name}}">
            </div>
            <div>
                <label>Address:</label><br>
                <input class='account-input' id="edit-address" name='address' value="{{user.address}}">
            </div>
            <p>Email Address: <span id="affected-email" value= "{{user.email}}">{{user.email}}</span></p>

            <button type="submit" id="save-changes">Save Changes</button>
             <button type="submit" id="cancel-editing">Cancel</button>
        </form>
    </div>

</div>